# Node / web
node_modules/
dist/
build/

# Capacitor / Android
android/.gradle/
android/build/
android/app/build/
capacitor-cordova-android-plugins/build/

# IDE / OS
.DS_Store
*.iml
*.keystore
*.jks
*.env

# Termux logs
$LOG
$PID
keystore.txt

# backups
*.bak
